header{
    font-family: 'Tangerine', cursive;
    font-size: 72px;
    text-align: center
}

h3{
    text-align: center;
    font-family: 'Unica One', cursive;
    margin-top: 20px;
    font-size: 26px
}

html{
    background-color: rgb(53,53,53);
    color: whitesmoke
}

.top{
    text-align: center;
    border-image-width: 540px;
    clear: left
}

h2{
    font-family: 'Unica One', cursive;
}

.watch_description{
    font-family: 'Dosis', sans-serif;
}

.watch_container{
    background-color: #1A1818;
    border: 2px solid #FDEFA6
    
}

#watches{
    height: 200px;
    float: left
}